* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
}
nav .nav-top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 13px;
}
nav .nav-center {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  padding: 13px;
}
nav .nav-center .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-center .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .nav-center .search .search-containt {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  padding: 5px;
  width: 70%;
}
nav .nav-center .search .search-containt ion-icon {
  color: black;
}
nav .nav-center .search .search-containt .search-btn {
  outline: none;
  border: none;
  background: none;
  width: 90%;
}
nav .nav-center .login {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
}
nav .nav-center .login .login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .nav-center .login .login-btn p {
  font-size: 20px;
  color: red;
}
nav .nav-center .login .login-btn a {
  text-decoration: none;
}
nav .nav-center .login .login-btn a p {
  color: whitesmoke;
}

.menu {
  background-color: rgb(43, 39, 39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  gap: 3%;
}
.menu a {
  text-decoration: none;
  color: whitesmoke;
  padding: 12px 15px;
  font-size: 20px;
}
.menu a:hover {
  color: rgb(189, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.menu .seller {
  color: rgb(247, 132, 0);
  font-weight: bold;
}
.menu .seller:hover {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.menu .stay {
  color: rgb(189, 0, 0);
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.sort-by-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 5px;
  padding: 2%;
}
.sort-by-contant #choosePrice {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.feature-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 13px;
}
.feature-product .product-left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.feature-product .product-left .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.feature-product .product-left .search .search-containt {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  padding: 5px;
  width: 50%;
}
.feature-product .product-left .search .search-containt ion-icon {
  color: black;
}
.feature-product .product-left .search .search-containt .search-btn {
  outline: none;
  border: none;
  background: none;
  width: 90%;
}
.feature-product .product-left .list-title {
  padding-left: 10px;
}
.feature-product .product-left .list-title .check-title {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
}
.feature-product .product-right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.cards-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.cards-container .card {
  background: rgb(45, 9, 9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10px;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  height: 90%;
  margin: 10px;
  gap: 10px;
}
.cards-container .card .image {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-container .card .image img {
  width: 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cards-container .card .product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}
.cards-container .card .product-info .stock {
  background-color: #19AEA5;
  padding: 3px 7px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.cards-container .card .product-info .price {
  font-size: 25px;
}
.cards-container .card .product-info .icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards-container .card .product-info .icon ion-icon {
  font-size: xx-large;
}
.cards-container .card .product-info .icon .heart-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  height: 100%;
}
footer .footer-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .footer-left .socail {
  padding-right: 10%;
}
footer .footer-left .socail .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
}
footer .footer-left .socail .contact ion-icon {
  font-size: 35px;
}
footer .footer-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  gap: 15px;
  padding-left: 10%;
}
footer .footer-right .socail-logo {
  font-size: 50px;
}
footer .footer-right .socail-logo a {
  text-decoration: none;
  color: #fff;
}/*# sourceMappingURL=instock.css.map */