* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
}
nav .nav-top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 13px;
}
nav .nav-center {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  padding: 13px;
}
nav .nav-center .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-center .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .nav-center .search .search-containt {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  padding: 5px;
  width: 70%;
}
nav .nav-center .search .search-containt ion-icon {
  color: black;
}
nav .nav-center .search .search-containt .search-btn {
  outline: none;
  border: none;
  background: none;
  width: 90%;
}
nav .nav-center .login {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
}
nav .nav-center .login .login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav .nav-center .login .login-btn p {
  font-size: 20px;
  color: red;
}
nav .nav-center .login .login-btn a {
  text-decoration: none;
}
nav .nav-center .login .login-btn a p {
  color: whitesmoke;
}

.menu {
  background-color: rgb(43, 39, 39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  gap: 3%;
}
.menu a {
  text-decoration: none;
  color: whitesmoke;
  padding: 12px 15px;
  font-size: 20px;
}
.menu a:hover {
  color: rgb(189, 0, 0);
}
.menu .seller {
  color: rgb(189, 0, 0);
  font-weight: bold;
}
.menu .seller:hover {
  color: whitesmoke;
}

.banner {
  width: 100%;
  height: 100%;
  background: red;
}
.banner img {
  width: 100%;
  height: 100%;
}

.cards-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.cards-container .card {
  background: rgb(45, 9, 9);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 10px;
  gap: 10px;
}
.cards-container .card .image img {
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cards-container .card .stock {
  background-color: #19AEA5;
  padding: 3px 7px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.cards-container .card .price {
  font-size: 25px;
}
.cards-container .card .icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards-container .card .icon ion-icon {
  font-size: xx-large;
}
.cards-container .card .icon .heart-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=style.css.map */