@import "variable";
@import "mixin";

.cards-container{
    flex: 3;
    @include flex(center, start);
    gap: 2%;
    flex-wrap: wrap;
    width: 100%;
    .card{
        background: rgb(45, 9, 9);
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
        padding: 10px;
        flex-basis: 27%;
        height: 90%;
        margin: 10px;
        gap: 10px;
        .image{
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 70%;
                box-sizing: border-box;
            }
        }
        .product-info{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 10px;
            .stock{
                background-color: $pre-order-color;
                padding: 3px 7px;
                border-radius: 5px;
                color: white;
                text-transform: uppercase;
            }
            .price{
                font-size: 25px;
            }
            .icon{
                width: 100%;
                
                display: flex;
                justify-content: space-between;
                ion-icon{
                    font-size: xx-large;
                }
                .heart-rating{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}