@import "variable";
@import "mixin";

.menu{
    background-color: $menu-bg ;
    @include flex(center, center);
    padding: 10px;
    gap: 3%;
    a{
        text-decoration: none;
        color: $text-color;
        padding: 12px 15px;
        font-size: 20px;
        &:hover{
            color: $menu-hover-color;
        }
    }
    .seller{
        color: $menu-hover-color;
        font-weight: bold;
        &:hover{
            color: $text-color;
        }
    }
}