@mixin flex($align, $justify ) {
    display: flex;
    align-items: $align;
    justify-content: $justify;

}
 @mixin search( $padding, $width) {
    @include flex(center, flex-start);
    .search-containt {
        background-color: $text-color;
        display: flex;
        border-radius: 25px;
        padding: $padding;
        width: $width;
        ion-icon{
            color: $bg-color;
        }
        .search-btn{
            outline: none;
            border: none;
            background: none;
            width: 90%;
        }
    }
 }

 @mixin button($pad, $bor_rad) {
    border: none;
    outline: none;
    padding: $pad;
    border-radius: $bor_rad;
 }