@import "variable";

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: $font;
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@import"navbar";
@import "menubar";
@import "sortBy";
@import "checkBoxTitle";
@import "cards";
@import "footer";